.header {
  height: auto;

}

.slides {
  position: relative;
}



.top-header {
  background-color: #669933;
  color: #fff;

}
.fb{
  margin-top: 20px;
}
.col {
  height: auto;
}

.nav {
  height: 35px;
}

.nav-link {
  color: #fff;
  height: 35px;
  padding: 0 0.75rem;
}

.form-control {
  margin-top: 10%;
}

.btn {
  margin-top: 10%;
}

.nav-link:hover {
  color: rosybrown;
}

.me-2 {
  margin-top: 25px !important;
}

.li {
  height: 35px;
  display: flex;
  position: absolute;
  margin-top: 50%;
  transform: translate(-50%, -50%);

}

.ms-n5 {
  margin-left: -40px;
}

.navbar-nav .nav-link {
  margin-right: 10px;
  padding: 10px;
}
.nvbr-home{
  display: flex;
  align-items: center;


}
.nvbr {
  display: flex;
  margin-left: auto;
  padding-left: 35px;
}

.seach-r {

  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Pattaya", sans-serif;

}

.card {
  border: 2px solid #669933;
  border-radius: 15px;
  position: relative;
}

.card-title {
  font-size: 35px;
  color: #ffff;
}

.card-img-top {
  border-radius: 15px;
  transition: transform 0.3s;

}

.card:hover img {
  transform: scale(1.1);
}

.title-1 {
  display: flex;
  justify-content: center;
  font-size: 50px;


}


.title-2 {
  display: flex;
  justify-content: center;
  font-size: 20px;

}

.img-card {
  height: auto;
  width: 100%;

}

.test-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.name-product {
  text-align: center;
}

.price {
  text-align: center;
}

.btn-submit {
  display: flex;
  justify-content: center;


}
.product{
  margin-top: 20px;
}
.card-product {
  border: 1px solid #669933;
  border-radius: 10px;
  background-color: #fff;
  position: relative;

}

.btn-submit button {
  color: #fff;
  background-color: #669933;
  border-radius: 20px;
  padding: 6px 50px;
  border: none;
  margin-bottom: 10px;
}

.btn-submit button:hover {
  box-shadow: 10px 11px 22px 6px rgba(0, 0, 0, 0.5);
}

.dis-price {
  margin-left: 10px;
  color: red;
}

.card-deck {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sale {
  color: #fff;
  position: absolute;
  line-height: 40px;
  display: block;
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: red;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
}

.extend {
  margin-top: 30px;
  margin-left: 50%;
  transform: translate(-50%,0);
}

.background-image-example {
  background-image: url('./imgs/abc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: auto;
  /* Đặt chiều cao tùy ý */
}

.new-1 {
  border: solid 1px #fff;
  background-color: #fff;
  margin: 20px !important;
 

}
.logo-header{
  max-width: 280px;
}
.logo-footer{
  max-width: 280px;
}
.img-new {
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.lienhes{
  margin-left: 0px;
  margin-right: 0px;
}
.lienhe {
  border: solid 1px #669933;
  border-radius: 20px;
  margin-top: 50px;
}

.form-group {
  width: 300px;
  margin-left: 50%;
  transform: translate(-50%, -0%);


}

.title-form {
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.name1 {
  margin-top: 20px;
  width: 80%;
}
.lh-text{
  margin-top: 20px;
  width: 80%;
}
.lh-email{
  margin-top: 20px;
  width: 80%;
}


.form-control {
  margin-top: 0px;
  background-color: antiquewhite;
}

.lienhe {
  background-color: #fff;
}
.list-news{
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 1200px;
}
.list-group {
  border: none;
}

.title-ft-1 {
  font-size: 30px;
  color: #000;
  font-weight: bold;
}

.a {
  text-decoration: none;
}

.footer {
  padding-top: 20px;
  background-color: rgb(250, 255, 196);
}

.title-3 {
  font-weight: 125% bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.banner-menu{
  width: 100%;
  padding: 0px !important;
}
.banner-menu-1 {
  margin-right: -5%;
  width: 100%;

}

.banner-menu-2 {
  margin-left: -5%;
  width: 100%;
}

.banner-img1 {
  height: 367.188px;
  width: 100%;
}

.banner-img2 {
  height: 367.188px;
  width: 100%;
}



.banner-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.nav-search {
  margin-left: 15% !important;
}

.search-input {
  width: 80% !important;
  margin-right: 0px !important;
}

.search-btn {
  width: 20% !important;
}

.ft-lienhe {
  width: 100%;

  background-color: #15ff00
}

.carousel-item {
  position: relaftive;
}

.nav_pc-btn {
  width: 28px;
  height: 28px;
  display: none;

}

.nav__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.5s;
}

.nav_mobi {
  position: fixed;
  width: 450px;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 450px;
  background-color: #bbf6b5;
  transform: translateX(100%);
  opacity: 0;
  transition: all linear 0.3s;


}

.nav-list-mobi {
  margin-top: 35px;

}

.nav-link-mobi {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 8px 0;
  font-size: 1.2rem;

}

.nav_mobi_input {
  display: none;
}

.nav_mobile_close {
  font-size: 1, 4rem;
  width: 40px;
  height: 40px;
  color: #000;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}

.nav_input {
  display: none;
}

.nav_input:checked~.nav__overlay {
  display: block;
}

.nav_input:checked~.nav_mobi {
  transform: translateX(0%);
  opacity: 1;
}



/*mobile+table*/
@media only screen and (max-width: 63.975em) {
  .nav_pc-btn {
    margin-top: 1%;
    display: block;
  }

  .head-t2 {
    display: none;
  }

  .head-t1 {
    font-size: 1.4rem;
  }

  .nvbr-mobi-menu {
    display: flex;
    margin-left: 50%;
    padding-left: 0px;
    
  }

 


  

.title-1{
  font-size: 2.5rem;
}
}

/*mobile*/
@media only screen and (max-width: 45.1875em) {

 
}

/*table*/
@media only screen and (min-width: 556px) and (max-width:1000px) {

 


}

/*pc*/
@media only screen and (min-width: 64em) {}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/*loader*/
/* div.wap_load{background:#fff;position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999999999}
.cssload-thecube{width:50px;height:50px;margin:0 auto;margin-top:49px;position:relative;-o-transform:rotateZ(45deg);-ms-transform:rotateZ(45deg);-moz-transform:rotateZ(45deg);position:absolute;top:50%;left:50%;margin-left:-25px;margin-top:-25px;}.cssload-thecube .cssload-cube{position:relative;transform:rotateZ(45deg);-o-transform:rotateZ(45deg);-ms-transform:rotateZ(45deg);-webkit-transform:rotateZ(45deg);-moz-transform:rotateZ(45deg);}.cssload-thecube .cssload-cube{float:left;width:50%;height:50%;position:relative;transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);}.cssload-thecube .cssload-cube:before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background-color: #4e240b;animation:cssload-fold-thecube 2.76s infinite linear both;-o-animation:cssload-fold-thecube 2.76s infinite linear both;-ms-animation:cssload-fold-thecube 2.76s infinite linear both;-webkit-animation:cssload-fold-thecube 2.76s infinite linear both;-moz-animation:cssload-fold-thecube 2.76s infinite linear both;transform-origin:100% 100%;-o-transform-origin:100% 100%;-ms-transform-origin:100% 100%;-webkit-transform-origin:100% 100%;-moz-transform-origin:100% 100%;}.cssload-thecube .cssload-c2{transform:scale(1.1) rotateZ(90deg);-o-transform:scale(1.1) rotateZ(90deg);-ms-transform:scale(1.1) rotateZ(90deg);-webkit-transform:scale(1.1) rotateZ(90deg);-moz-transform:scale(1.1) rotateZ(90deg);}.cssload-thecube .cssload-c3{transform:scale(1.1) rotateZ(180deg);-o-transform:scale(1.1) rotateZ(180deg);-ms-transform:scale(1.1) rotateZ(180deg);-webkit-transform:scale(1.1) rotateZ(180deg);-moz-transform:scale(1.1) rotateZ(180deg);}.cssload-thecube .cssload-c4{transform:scale(1.1) rotateZ(270deg);-o-transform:scale(1.1) rotateZ(270deg);-ms-transform:scale(1.1) rotateZ(270deg);-webkit-transform:scale(1.1) rotateZ(270deg);-moz-transform:scale(1.1) rotateZ(270deg);}.cssload-thecube .cssload-c2:before{animation-delay:0.35s;-o-animation-delay:0.35s;-ms-animation-delay:0.35s;-webkit-animation-delay:0.35s;-moz-animation-delay:0.35s;}.cssload-thecube .cssload-c3:before{animation-delay:0.69s;-o-animation-delay:0.69s;-ms-animation-delay:0.69s;-webkit-animation-delay:0.69s;-moz-animation-delay:0.69s;}.cssload-thecube .cssload-c4:before{animation-delay:1.04s;-o-animation-delay:1.04s;-ms-animation-delay:1.04s;-webkit-animation-delay:1.04s;-moz-animation-delay:1.04s;}@keyframes cssload-fold-thecube{0%,10%{transform:perspective(136px) rotateX(-180deg);opacity:0;}25%,75%{transform:perspective(136px) rotateX(0deg);opacity:1;}90%,100%{transform:perspective(136px) rotateY(180deg);opacity:0;}}@-o-keyframes cssload-fold-thecube{0%,10%{-o-transform:perspective(136px) rotateX(-180deg);opacity:0;}25%,75%{-o-transform:perspective(136px) rotateX(0deg);opacity:1;}90%,100%{-o-transform:perspective(136px)
rotateY(180deg);opacity:0;}}@-ms-keyframes cssload-fold-thecube{0%,10%{-ms-transform:perspective(136px) rotateX(-180deg);opacity:0;}25%,75%{-ms-transform:perspective(136px) rotateX(0deg);opacity:1;}90%,100%{-ms-transform:perspective(136px) rotateY(180deg);opacity:0;}}@-webkit-keyframes cssload-fold-thecube{0%,10%{-webkit-transform:perspective(136px) rotateX(-180deg);opacity:0;}25%,75%{-webkit-transform:perspective(136px) rotateX(0deg);opacity:1;}90%,100%{-webkit-transform:perspective(136px) rotateY(180deg);opacity:0;}}@-moz-keyframes cssload-fold-thecube{0%,10%{-moz-transform:perspective(136px) rotateX(-180deg);opacity:0;}25%,75%{-moz-transform:perspective(136px) rotateX(0deg);opacity:1;}90%,100%{-moz-transform:perspective(136px) rotateY(180deg);opacity:0;}}
.loader {
    width: 35px;
    height: 35px;
    position: relative;
    transform: translateX(-8px);
   
   }
   
   .loader::before,
   .loader::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    mix-blend-mode: multiply;
    animation: rotate9 1s infinite cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .loader::before {
    background-color: #00b1ff;
   }
   
   .loader::after {
    background-color: #fece00;
    animation-delay: .5s;
   }
   
   @keyframes rotate9 {
    0%,100% {
     left: 40px;
    }
   
    25% {
     transform: scale(.3);
    }
   
    50% {
     left: 0;
    }
   
    75% {
     transform: scale(1);
    }
   } */

  .pl__ring {
    animation: ringA 2s linear infinite;
  }
  
  .pl__ring--a {
    stroke: #f42f25;
  }
  
  .pl__ring--b {
    animation-name: ringB;
    stroke: #f49725;
  }
  
  .pl__ring--c {
    animation-name: ringC;
    stroke: #255ff4;
  }
  
  .pl__ring--d {
    animation-name: ringD;
    stroke: #f42582;
  }
  
  /* Animations */
  @keyframes ringA {
    from, 4% {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -330;
    }
  
    12% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -335;
    }
  
    32% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -595;
    }
  
    40%, 54% {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -660;
    }
  
    62% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -665;
    }
  
    82% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -925;
    }
  
    90%, to {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -990;
    }
  }
  
  @keyframes ringB {
    from, 12% {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -110;
    }
  
    20% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -115;
    }
  
    40% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -195;
    }
  
    48%, 62% {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    70% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    90% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -305;
    }
  
    98%, to {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -330;
    }
  }
  
  @keyframes ringC {
    from {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: 0;
    }
  
    8% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -5;
    }
  
    28% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -175;
    }
  
    36%, 58% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    66% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    86% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -395;
    }
  
    94%, to {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -440;
    }
  }
  
  @keyframes ringD {
    from, 8% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: 0;
    }
  
    16% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -5;
    }
  
    36% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -175;
    }
  
    44%, 50% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    58% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    78% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -395;
    }
  
    86%, to {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -440;
    }
  }
  .wap_load{
    position: fixed;
    z-index: 9999999999999999;
    background: #fff;
    width: 100%;
    height: 100%;
  }
  .pl {
    position: absolute;
    width: 6em;
    height: 6em;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
  }

